{% extends "vibrate/base.html" %}
{% load static %}

{% block title %}
{{ room.name }} | Vibrate
{% endblock title %}

{% block append_links %}
  <link rel="stylesheet" href="{% static 'vibrate/css/room.css' %}">
  <link href='https://css.gg/smartphone-shake.css' rel='stylesheet'>
  <link href='https://css.gg/link.css' rel='stylesheet'>
{% endblock append_links %}

{% block content %}
<div class="container d-flex" id="title-wrapper">
  <h1 id="title" class='mt-4 font-weight-bold'></h1>
  <span id="share-button-wrapper">
    <i class="gg-link" id="copy-link-button" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Top popover"></i>
  </span>
</div>
<p class="font-weight-light" id="room-status"></p>

<div class="container mt-3" id="users-list-container">
  <ul class="list-group" id="users-list">
    <div class="ph-item">
        <div class="ph-row">
          <div class="ph-col-12"></div>
        </div>
    </div>
  </ul>
</div>
<div class="btn-section mt-3">
<button type="button" class="btn btn-outline-primary btn-lg" id="send_vibration" style="width: 100%">Хочу сказать</button>
</div>

<div class="modal fade" id="roomEnterModal" tabindex="-1" aria-labelledby="roomEnterModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        {% csrf_token %}
        <div class="mb-3">
          <label for="username" class="col-form-label">Ваше имя</label>
          <input type="text" class="form-control" id="username">
        </div>
        <button type="button" class="btn btn-primary" id="enter_room_button">Войти</button>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block userscripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/nosleep/0.3.0/NoSleep.min.js"></script>
<script src={% static 'vibrate/js/room.js' %}></script>


{% endblock userscripts %}