{% extends "vibrate/base.html" %}
{% load static %}

{% block append_links %}
  <link rel="stylesheet" href="{% static 'vibrate/css/rooms.css' %}">
{% endblock append_links %}

{% block title %}
🐸 Vibrate | Комнаты
{% endblock title %}

{% block content %}
<h2 class="mt-4">Публичные комнаты</h2>

<ul class="list-group mt-3" id="public-rooms-container">
  <div class="ph-item">
    <div class="ph-row">
        <div class="ph-col-12"></div>
    </div>
  </div>
</ul>

<h2 class="mt-4 mb-3">Ваши приватные комнаты</h2>

<ul class="list-group" id="private-rooms-container">
  <div class="ph-item">
    <div class="ph-row">
        <div class="ph-col-12"></div>
    </div>
  </div>
</ul>

<div class="action-section mt-4">
  <a class="btn btn-primary" href="/create-room" style="width: 100%">Создать комнату</a>
</div>

<div class="modal fade" id="roomEnterModal" tabindex="-1" aria-labelledby="roomEnterModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="roomEnterModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% csrf_token %}
        <div class="mb-3">
          <label for="username" class="col-form-label">Ваше имя</label>
          <input type="text" class="form-control" id="username">
        </div>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary" id="enter_room_button">Войти</button>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block userscripts %}

<script src={% static 'vibrate/js/rooms.js' %}></script>

{% endblock userscripts %}